<div class="bodyContainer">
  <div class="inviteText">
    <h1 id="mainText">
      <!-- Welcome to Safetok -->
    </h1>
    <p id="subTitle">
      <!-- Secure and private 1 on 1 video calls.<br>No phone number, no email, no account creation, no app install. -->
    </p>
  </div>
  <div class="btnsContainer">
    <div class="button" id="createNewMeeting">
      <!-- zacznij<br>spotkanie<br>teraz -->
    </div>
    <!-- <div class="button" id="createLaterMeeting">
    </div>
    <div class="button" id="joinMeeting">
    </div> -->
  </div>
  <!-- <div id="test"></div> -->
</div>