@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    left: 0;
    display: flex;
    padding: 10px 15px;
    align-items: center;
    flex-direction: column;
    height: 98vh;
    width: 150px;
    background-color: rgba(138, 138, 138, 0.7);
    position: fixed;
    z-index: 99;
    backdrop-filter:blur(0.5px);   
}

.router-outlet {
    flex: 1;
    padding: 20px;
}

a {
    font-size: 20px;
    margin-top: 30px;
    text-decoration: none;
    color: black;

    &.active {
        font-weight: bold;
        color: blue;
    }
}

:host {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

app-root {
    margin: 0;
    padding: 0;
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}